{% load static %}

<!DOCTYPE html>
<html class="searchPage">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<title>Artist Search | {% block title %} {% endblock %}</title>
	<link rel="stylesheet" href="{% static '../node_modules/bootstrap/distcss/bootstrap.min.css' %}" type="text/css" />
	<link rel="stylesheet" href="{% static 'css/main.css' %}" type="text/css" />

	{% block extrascripts %}
	{% endblock %}
</head>
<body class="searchPage">
	{% block content %}
	{% endblock %}

	{% block reactscript %}
	{% endblock %}

</body>
</html>