html, body {
	width: 100%;
	height: 100%;
}

h1 {
	color: red;
	margin-bottom: 0px;
	margin-top: 0px;
}

#content {
	width: 100%;
	height: 100%;
}

#container {
	width: 100%;
	height: 100%;
}

#leftContainer {
	width: 60%;
	height: 100%;
	float: left;
}
